spring.application.name: loki-api

server:
  port: 8080

spring:
  ai:
    openai:
      api-key: sk-6a28d620aa3d430bab4dad7926762a14
      chat:
        base-url: https://api.deepseek.com
        completions-path: /v1/chat/completions
        options:
          model: deepseek-chat
          temperature: 0.7

    mcp:
      client:
        enabled: true
        name: spring-ai-mcp-client
        version: 1.0.0
        request-timeout: 20s
        sse:
          connections:
            server1:
              url: http://localhost:8081